.row
  .col-md-2
    %form.form-horizontal{:onsubmit => "return false;"}
      %div{:style => "border: 1px solid black"}
        .control-group
          %label.control-label Rows
          .controls
            %input#rows.input{:placeholder => "Rows", :value => "50"}/
        .control-group
          %label.control-label Columns
          .controls
            %input#columns.input{:placeholder => "Columns", :value => "100"}/
        .control-group
          %label.control-label Radius
          .controls
            %input#radius.input{:placeholder => "Radius", :value => "20"}/
        .control-group
          .controls
            %button#rebuild.btn Rebuild
            -# =link_to games_submit_turn_path(params: {test_param: 'test'}), title: 'Submit Turn', method: :post do
            -#   %button Submit Turn
.row
  .span6{:style => "text-align:center"}
    #container
    %h2
      %small#logger click around the grid
  .span6.logger
